//Variables
@import "variables";

//Mixines
@import "mixins";

* {
  @include overal;
}

body {
  background-color: $bgColor;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 3rem;
  background: $primaryColor;

  h1 {
      @include textStyle(1.3rem ,bold,$seconderyColor)
  }
}
